TAGS
.cache
.ipynb_checkpoints
demo
**/*.*~
**/*.pyc
**/.DS_Store
**/test.py
**/*.testSave
docs/_build
data
*.saving
**/*.npz
.idea
/opt/*
/faropt/*
**/*.png
**/*.pdf
**/*.npy
*.txt
*.sh
*.out
log.*
!/opt/lr=1e-2_batchsize=1000/cvflowbest_TrainLoss_model.saving